body {
  background-color: #0a192f;
  color: #afb6d0;
}
.App {
  text-align: center;
}

.link-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 1rem;
  border: solid 2px;
  border-color: #64ffda;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.25rem;
  background-color: #0a192f;
  cursor: pointer;
}

.link-back:hover {
  border-color: white;
}


.btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: solid 2px;
  border-color: #64ffda;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.25rem;
  background-color: #0a192f;
  cursor: pointer;
}

.btn:hover {
  border-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
